.videoPlayer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    max-width: 900px;
    max-height: 600px;
    width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      #jsVolumeBtn {
        margin-right: 10px;
      }
    }

    #jsTime {
      margin-left: 10px;
    }

    #jsVolumeButton {
      margin-right: 95px;
    }

    .videoPlayer__volume {
      position: absolute;
      opacity: 1;
      top: 19px;
      left: 780px;
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      width: 75px;
      height: 3px;
      background-color: white;
      border-radius: 3px;
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 3px solid white;
        background-color: $black;

        &:hover {
          background-color: white;
        }
      }
    }

    .videoPlayer__column:last-child {
      justify-self: end;
    }

    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
